*, html, body {
    padding: 0;
    margin: 0;
    color: var(--cerah);
    font-family: serif;
    background-color: var(--cerah);
}

:root {
    --gelap: #170b17;
    --cerah: #fde2d7;
    --cerah-semi: #e4b7b2;
    --cerah-kegelap-gelapan: #855265;
    --ungu-agak-gelap: #532c5b;
    --ungu-gelap: #29174b;
}

.fcontainer {
    background-color: var(--cerah);
    height: 100%;
}

.container-navbar {
    background-color: var(--gelap);
}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gelap);
    height: 6%;
}

.brand {
    color: var(--cerah-kegelap-gelapan);
    background-color: var(--gelap);
    display: flex;
    font-size: 3vh;
    margin-left: 1vh;
    font-family: serif;
}

.firstname {
    margin-right: .5vh;
    color: var(--cerah-kegelap-gelapan);
    background-color: var(--gelap);
    margin-top: .5vh;
    font-size: 3vh;
}

.lastname {
    margin-left: .5vh;
    color: var(--cerah-kegelap-gelapan);
    background-color: var(--gelap);
    margin-top: 1vh;
    font-size: 3vh;
}

.subjudul {
    margin-left: .5vh;
    color: var(--cerah);
    background-color: var(--gelap);
    font-size: 1vh;
    margin-top: 1vh;
}

.opsi {
    background-color: var(--gelap);
}

.ul-navbar {
    list-style-type: none;
    background-color: var(--cerah-semi);
    border-radius: .5vh;
    margin-right: 1vh;
    height: 3vh;
    width: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.li-navbar {
    background-color: var(--cerah-semi);
}

.a-navbar {
    display: flex;
    color: var(--gelap);
    background-color: var(--cerah-semi);
    text-decoration: none;
    margin-right: 1vh;
    font-size: 2vh;
}

.container-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-profil {
    margin-top: 1vh;
    width: 94%;
    height: 94%;
    border-radius: 1vh;
}

.container-content {
    display: flex;
    flex-direction: column;
}

.container-nama {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3vh;
}

.ul-nama {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vh;
    color: var(--gelap);
}

.li-content {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--gelap);
    height: 3.8vh;
    width: 94%;
    margin-left: 3%;
    margin-top: 1vh;
    border-radius: 1vh;
    border-end-end-radius: 0vh;
    border-end-start-radius: 0vh;
    flex-direction: column;
    font-size: 3vh;
    color: var(--cerah-kegelap-gelapan);
}

.li-deskripsi {
    justify-content: space-between;
    background-color: var(--cerah-semi);
    height: 70vh;
    width: 94%;
    margin-left: 3%;
    margin-bottom: 3vh;
    border-radius: 1vh;
    border-start-end-radius: 0vh;
    border-start-start-radius: 0vh;
}

.p-content {
    margin-left: 1vh;
    background-color: var(--cerah-semi);
    color: var(--gelap);
    text-decoration: none;
    font-size: 2vh;
    list-style-type: none;
}

.p-content-1 {
    margin-left: 1vh;
    color: var(--gelap);
    background-color: var(--cerah-semi);
    text-decoration: none;
    font-size: 2vh;
    list-style-type: none;
    margin-top: 1.5vh;
}

.p-content-2 {
    margin-left: 60%;
    color: var(--gelap);
    background-color: var(--cerah-semi);
    text-decoration: none;
    font-size: 2vh;
    list-style-type: none;
    margin-top: 1.5vh;
}