*, html, body {
    padding: 0;
    margin: 0;
    font-family: serif;
}

html {
    background-color: var(--gelap);
    scroll-behavior: smooth;
}

:root {
    --gelap: #170b17;
    --cerah: #fde2d7;
    --cerah-semi: #e4b7b2;
    --cerah-kegelap-gelapan: #855265;
    --ungu-agak-gelap: #532c5b;
    --ungu-gelap: #29174b;
}

.fcontainer {
    width: 100%;
}

.container-navbar {
    width: 100%;
    height: 6vh;
}

.wrapper {
    background-color: var(--gelap);
    position: fixed;
    width: 100%;
    height: 6vh;
}

.name {
    color: var(--cerah-kegelap-gelapan);
    margin-left: 1vh;
    font-size: 5vh;
}

.container-content {
    display: flex;
    background-color: var(--cerah);
    height: auto;
    width: 100%;
}

.main-content {
    width: 65%;
}

.menu {
    background-color: var(--gelap);
}

.text {
    color: var(--cerah-semi);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vh;
    margin-bottom: 2vh;
    width: 94%;
    margin-left: 3%;
}

.kol {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    border-radius: 1vh;
}

.kolom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.a-content {
    background-color: var(--cerah-kegelap-gelapan);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8vh;
    text-decoration: none;
    color: var(--cerah-semi);
    height: 130%;
    width: 40%;
    margin-bottom: 1vh;
    border-radius: 3px;
}

content {
    width: 65%;
}

/* 
{content} */

.space {
    background-color: var(--gelap);
    color: var(--gelap);
    font-size: 1.5vh;
    height: 6vh;
}

.img-menu {
    width: 160%;
    margin-left: -30%;
    margin-top: -2vh;
}

.img-menu-2 {
    display: none;
}

.hobi {
    font-size: 3.5vh;
}

.kategori {
    font-size: 4vh;
    margin-left: 1vh;
}

.judul-content {
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
}

.judul-content-nothing {
    font-size: 2.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30vh;
}

.img-content {
    width: 80%;
    height: auto;
    margin-left: 10%;
    border-radius: 5px;
}

.p-content {
    font-size: 1.8vh;
    margin-bottom: 1.5vh;
    margin-left: 1vh;
}

.hobi {
    
}

.rencana {
    
}

/* 
{content end} */

.bar-content {
    background-color: var(--ungu-gelap);
    margin-left: 65%;
    width: 35%;
    height: 95vh;
    position: fixed;
}

.judul {
    color: var(--cerah-semi);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6vh;
    margin-top: 1vh;
}

.subjudul {
    color: var(--cerah-kegelap-gelapan);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.9vh;
    margin-top: 1.5vh;
}

.opsi {
    font-size: 1.6vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--cerah);
    padding: .3vh;
    cursor: pointer;
}

.p-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2vh;
    flex-direction: column;
    margin-left: 1.2vh;
    color: var(--ungu-agak-gelap);
    background-color: var(--ungu-gelap);
    display: flex;
}

.opsi:hover {
    font-size: 1.8vh;
    transition: .2s ease-in-out;
    transform: rotate(2deg);
    opacity: 60%;
}

.container-footer {
    margin-top: 2vh;
    width: 65%;
}

.footer {
    color: var(--cerah-kegelap-gelapan);
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
}

@media screen and (min-width: 1024px) {
    
    .container-navbar {
        width: 100%;
        height: 6vh;
    }
    
    .wrapper {
        background-color: var(--gelap);
        position: fixed;
        width: 100%;
        height: 6vh;
    }
    
    .name {
        color: var(--cerah-kegelap-gelapan);
        margin-left: 1vh;
        font-size: 5vh;
    }
    
    
    .text {
        color: var(--cerah-semi);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 110%;
        margin-bottom: 2vh;
        width: 94%;
        margin-left: 3%;
    }
    
    .a-content {
        background-color: var(--cerah-kegelap-gelapan);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 90%;
        text-decoration: none;
        color: var(--cerah-semi);
        height: 130%;
        width: 40%;
        margin-bottom: 1vh;
        border-radius: 3px;
    }
        
    .img-menu {
        display: none;
    }
    
    .img-menu-2 {
        display: block;
        width: 100%;
        height: auto;
    }
    
    .main-content {
        width: 85%;
    }
    
    .hobi {
        font-size: 180%;
        flex-direction: row;
    }
    
    .kategori {
        font-size: 200%;
        margin-left: 1vh;
    }
    
    .judul-content {
        font-size: 125%;
        margin-left: 1vh;
    }
    
    .img-content {
        width: 50%;
        height: auto;
        margin-left: 5%;
        border-radius: 10px;
        margin-top: 5px;
    }
    
    .p-content {
        display: flex;
        font-size: 75%;
        margin-bottom: 1.5vh;
        margin-left: 1vh;
        width: 90%;
    }
    
    .bar-content {
        background-color: var(--ungu-gelap);
        margin-left: 85%;
        width: 15%;
        height: 95%;
        position: fixed;
    }
    
    .judul {
        color: var(--cerah-semi);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80.6%;
        margin-top: 1vh;
    }
    
    .subjudul {
        color: var(--cerah-kegelap-gelapan);
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 80.9%;
        margin-top: 1.5vh;
    }
    
    .opsi {
        font-size: 80.6%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--cerah);
        padding: .3vh;
        cursor: pointer;
    }
    
    .opsi:hover {
        font-size: 100%;
        transition: .2s ease-in-out;
        transform: rotate(2deg);
        opacity: 60%;
    }
}